.pagination {
    margin-top: 20px;
    display:flex;
    justify-content: center;
    gap:8px;
}

.pagination button {
    padding:6px,12px;
    border:none;
    background: #ddd;
    cursor:pointer;
    border-radius: 4px;
}


.pagination button .active {
    background: #333;
    color: white;
}

.pagination button:disabled {
    background: #aaa;
    cursor: not-allowed;
}